/* common */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, pre, code, blockquote, a, em, img, strong, hr, ul, ol, li,
figure {
  margin: 0; padding: 0;
  border: 0;
  font-size: 100%;
}

html {
    color: #e4ebf0;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
    padding: 0;
    margin: 0;
}
body {
/*	line-height: 1;*/
    max-width: 87%;
    position: relative;
    margin: 40px auto 15px;
    font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif;
}
table {
    margin: 0;
    padding: 0;
}

/*H-->标题系H*/
h1, h2, h3, h4, h5, h6 { 
    font-family: "Microsoft Yahei", sans-serif;
    margin: 0;
    padding: 0.15em 0;
}
h1 {
    font-size: 2.0em;
    padding-bottom: 0.1em;
    color: #f37;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2 {
    font-size: 1.85em;
    color: #fd5;
//    margin-top: 1em;
}
h3 {
    font-size: 1.7em;
    color: #df5;
    width: 80%;
//    margin-top: 0.9em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 1.55em;
    color: #6d9;
//    margin-top: 0.8em;
}
h5 {
    font-size: 1.4em;
    color: red;
}
h6 {
    font-size: 1.25em;
	color: cyan;
}
/*a-->common link*/
a {
    color: #25DBEB; //#024a90
    padding-bottom: 1px;
    text-decoration: none;
}
a:visited {
    color: #9F53E2; // blue
}
a:hover {
    color: green; // green
    padding-bottom: 0;
    text-decoration: none;
}


p, pre, blockquote, table, ul, ol, dl,figure {
    margin: 0.5em 0 1em;
}
ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}
li {
    margin: 0.3em auto;
    list-style-position: inside;

}
ol, ul {
    margin-left: 1em;
    padding-left: 0.5em;

}
dt {
    font-weight: bold;

}
img {
    border: none;
	max-width: 100%;
//	width: 800px;
//	height: 400px;
}

code {
    color: #cae3b6;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

blockquote, pre {
    padding: 0.8em;
    background: #39213E;
    background: rgba(172, 15, 78, 0.12);
    border: 1px solid #614;
    position: relative;
    z-index: 2;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;

}
blockquote {
    background: rgba(255,30,120,0.1);
    border: 1px solid rgba(230,0,20,0.2);
}
blockquote:hover, pre:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}

pre {
    border-left: 1px solid #c26;
    margin-left: 1em;
    padding: 0.4em 0.8em;
    overflow-x: auto;

}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #256;
    padding: 0.3em 0.5em;

}
th {
    background-color: #f0f0f0;

}
hr {
    border: none;
    border-top: 3px double #836d03;
    width: 100%;
    margin: 20px 0;
}
del {
    text-decoration: line-through;
    opacity: 0.6;
}
strong, b {
    font-weight: 600;	
    color: rgba(16, 226, 16, 0.88);
}
em, i {
    font-family: Candara, "Microsoft Yahei", sans-serif;
    font-style: italic;
	color: rgb(233, 109, 50);
}
/*}}}*/

/*火焰效果*/
#all {
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    -moz-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAEsCAYAAAAGpQnoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpi%2Bs8QwPD%2F%2F38GEM3EgARGOaOcUc4oZ3BxGKFsRurroVjZYDaAnHCjoaU0lBmalg6IATS0Z1QZtZVRHFmjgTjoooReyoaMPfQq1omMxiFT6Q2yZsRgNoB6KQQgwADJCwjQbYXDDwAAAABJRU5ErkJggg%3D%3D) 0 1 0 1;
    border-width: 0 12px;
    max-width: 85%
    margin: 0 auto;
}

#content {
    padding: 10px 20px;
    position: relative;
}
/*header and top-nav*/
#header {
    
}
#title {
    line-height: 0.2em;
    padding-bottom: 2em;
}

#title h1 a {
    color:rgba(247, 10, 46, 0.6);
    font-size: 1.5em; 
    text-decoration: none;
}
#title h1 a:hover {
    color:rgba(247, 10, 46, 0.96);
}
#title h3 a {
	color: rgba(0, 255, 255, 0.35);
    line-height: 1em;
    text-decoration: none;
}
#title h3 a:hover {
    color: cyan
}
#top-nav {
    position: relative;
    top: -10px;
    left: -20px;
    width: auto;
    margin: -10px 0 -20px 0;
    padding-bottom: 2em;
    overflow: hidden;
    zoom: 1;
}
#top-nav ul {
    list-style: none;
    display:block;
}
#top-nav li {
    float: right;
}
#top-nav ul li a{
    display: block;
    padding: 6px 20px;
    margin: 0 0.5px;
    width: 60px;
    background-color: rgba(20, 3, 59, 0.51);
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#top-nav ul li a:hover, #top-nav ul li a:focus{
    border-color: #450e87;
    background-color: #450e87;
}
/*
    gcse-->google search
    */
#top-nav #searchbox {
    float: left;
}
#input_search {
    display: block;
    padding: 6px 20px;
    margin: 0 0.5px;
    width: 60px;
    height: 1.6em;
    top: 5px;
    background-color: rgba(20, 3, 59, 0.51);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
}
#input_search:hover {
    border-color: #450e87;
    background-color: #450e87;
}
#input_search:focus {
    color: purple;
    background-color: #fff;
    width: 100px;
}
.page-header h1{
  font-size: 2.5em;
}
.page-header h1 small {
  font-size: 0.5em;
  color: cyan;
}
/*article header*/
#article_header {
    padding-bottom: 2em;
}
#article_header div{
    color: white;
    font-size: 1em;
}
#article_header div span {
    color: rgba(13, 214, 214, 0.99);
    padding-left: 1em;
}
#article_header div a {
    border: display;
    padding: 0 1em 0;
    background-color: rgba(10, 121, 5, 0.61);
    border-radius: 15px;
    color: white;
    text-decoration: none;
}
#article_header div a:hover {
    background-color: rgba(19, 160, 15, 0.72);
}
/*content*/
#page-content {
    clear: both;
}
#page-content h2 {
    clear: both;
}
/*tags*/
.tag_box {
    list-style: none;
    display:block;
}
.tag_box li{
    float:left;
    padding: 1em;
}
.tag_box li a {
    display: block;
    border-radius: 15px;
    padding: 6px 20px;
    margin: 0 0.5px;
    background-color: rgba(62, 38, 128, 0.51);
    color: white;
    text-decoration: none;
    
}   
.tag_box li a:hover {
    border-color: #450e87;
    background-color: #450e87;
}
.tag_box li span {
    vertical-align: super;
    font-size: .64em;
}

/*
    micro_say
    */
#micro_say {

}
#micro_say p{
    padding: 0.8em;
    background: #39213E;
    background: rgba(255,30,120,0.12);
    border: 1px solid #614;
    position: relative;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}
#micro_say p:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}
#micro_say pre {
    border: 1px solid #c26;
    border-style: none;
    margin-left: 0;
    top: -1em;
    text-align: right;
    background-color: rgba(113, 0, 128, 0);
}
#micro_say pre code {
    color: green;
}
#micro_say pre:hover {
    background-color: rgba(113, 0, 128, 0);
}
#micro_say p img {
    max-width: 30%;
    max-height: 20%;

}
/*  pagination---->分页
    */
.pagination {

}
.prev , .prev-disabled {
    float: left;
}
.archive {
    float: left;
    text-align: center;
    width: 100px;
    padding:0 2em 0 2em;
}
.next , .next-disabled {
    float: left;
}
.archive ,.prev , .next , .prev-disabled , .next-disabled {
    list-style: none;
}
.archive a, .prev a, .next a, .prev-disabled a, .next-disabled a {
    display: block;
/*    border-radius: 15px;*/
    padding: 6px 20px;
    margin: 0 0.5px;
    background-color: rgba(62, 38, 128, 0.51);
    color: white;
    text-decoration: none;
    list-style: none;
}

.prev a:hover , .next a:hover, .archive a:hover{
    background-color: rgba(19, 160, 15, 0.72);
}
/*.prev-disabled a, next-disabled a {
    
}*/

/*footer*/
#footer {
    margin-top: -10px;
    text-align: center;
    border: 5px solid #75143F;
    border: 5px solid rgba(255,0,80,0.42);
    border-width: 5px 10px;
    
}
#footer p {
    background: #341D36;
    background: rgba(255,0,80,0.15);
    margin: 0;
    padding:1em;
}
#footer p a {
    float: right;
    text-decoration: none;
    color: #967;
    font-size: 1.5em;
}
#footer p a:hover {
    text-decoration: none;
    color:blue;
}
